.login-container {
  .header {
    height: 45px;
    text-align: right;
    border: 1px solid red;
  }

  .title {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
  }

  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .content-form {
    input {
      margin-top: 3px;
      margin-bottom: 15px;
    }

    button {
      width: 100%;
      margin: 20px 0;
      height: 40px;
      font-size: 18px;
      color: white;
      background-color: black;
      border: none;
      border-radius: 5px;
    }
  }
}
